In [1]:
import pandas as pd

In [7]:
df = pd.read_excel('D:/Capstone_Projects/Energy consumption Analysis/dataset/2021_final_bps_dataset.xlsx', na_values='Not Available')

In [9]:
(df.isnull().sum()/len(df))*100

Sector                                                             0.000000
Subsector                                                          0.000000
Organization                                                       0.000000
Property Name                                                      0.000000
Primary Property Type - Self Selected                              0.000000
Portfolio Manager Property ID                                      0.000000
Portfolio Manager Parent Property ID                               0.000000
Parent Property Name                                               0.000000
Year Ending                                                        0.000000
Address                                                            0.013130
City                                                               0.000000
Postal Code                                                        0.032826
Property GFA - Self-Reported (m²)                                  0.000000
Number of Buildings                                                0.000000
Custom Property ID 1 - Name                                        4.037553
Custom Property ID 1 - Value                                       4.037553
Custom Property ID 2 - Name                                        5.488445
Custom Property ID 2 - Value                                       5.488445
Custom Property ID 3 - Name                                        5.495011
Custom Property ID 3 - Value                                       5.495011
Electricity Use - Grid Purchase (kWh)                             10.773372
Electricity Use - Grid Purchase (GJ)                              10.773372
Natural Gas Use (therms)                                          38.215599
Natural Gas Use (GJ)                                              38.215599
Fuel Oil #1 Use (GJ)                                              99.973739
Fuel Oil #2 Use (GJ)                                              98.010767
Fuel Oil #4 Use (GJ)                                              99.875263
Fuel Oil #5 & 6 Use (GJ)                                          99.993435
Diesel #2 Use (GJ)                                                99.980305
Kerosene Use (GJ)                                                100.000000
Propane Use (GJ)                                                  95.319065
District Steam Use (GJ)                                           99.796481
District Hot Water Use (GJ)                                       99.750525
District Chilled Water Use (GJ)                                   99.763655
Wood Use (GJ)                                                     99.980305
Site Energy Use (GJ)                                              11.850053
Source Energy Use (GJ)                                            11.850053
Site EUI (GJ/m²)                                                  16.458771
Site EUI (ekWh/sqft)                                              16.458771
Source EUI (GJ/m²)                                                16.458771
Source EUI (ekWh/sqft)                                            16.458771
Weather Normalized Site Energy Use (GJ)                           90.014443
Weather Normalized Source Energy Use (GJ)                         90.014443
Weather Normalized Site EUI (GJ/m²)                               90.316439
Weather Normalized Site EUI (ekWh/sqft)                           90.316439
Weather Normalized Source EUI (GJ/m²)                             90.316439
Weather Normalized Source EUI (ekWh/sqft)                         90.316439
Total (Location-Based) GHG Emissions (Metric Tons CO2e)           11.508666
Total (Location-Based) GHG Emissions Intensity (kgCO2e/m²)        16.143645
Drinking Water Treatment & Distribution - Average Flow (m³PD)     98.430935
Wastewater Treatment Plant - Average Influent Flow (m³PD)         98.430935
Address 2                                                         99.665179
List of All Property Use Types (GFA) (m²)                          0.000000
Largest Property Use Type                                          7.477679
Report Submission Date                                             0.000000
Calculated with new source factors (Yes/No)                        0.000000
Data Quality Checker Run?                                          0.000000
Data Quality Checker - Date Run                                   94.557511
dtype: float64

In [13]:
ndf = df[['Sector', 'Subsector', 'Organization', 'Property Name',
    'Primary Property Type - Self Selected', 'Address', 'City', 'Postal Code', 
    'Electricity Use - Grid Purchase (kWh)', 'Natural Gas Use (GJ)', 'Site Energy Use (GJ)', 
    'Total (Location-Based) GHG Emissions (Metric Tons CO2e)', 'Report Submission Date']]

In [16]:
(ndf.isnull().sum()/len(ndf))*100

Sector                                                      0.000000
Subsector                                                   0.000000
Organization                                                0.000000
Property Name                                               0.000000
Primary Property Type - Self Selected                       0.000000
Address                                                     0.013130
City                                                        0.000000
Postal Code                                                 0.032826
Electricity Use - Grid Purchase (kWh)                      10.773372
Natural Gas Use (GJ)                                       38.215599
Site Energy Use (GJ)                                       11.850053
Total (Location-Based) GHG Emissions (Metric Tons CO2e)    11.508666
Report Submission Date                                      0.000000
dtype: float64

In [18]:
ndf.groupby('Sector').agg({'Electricity Use - Grid Purchase (kWh)': 'mean'})

                 Electricity Use - Grid Purchase (kWh)
Sector
Municipal                                 4.743627e+05
Postsecondary                             3.480822e+06
Public Hospital                           6.164031e+06
School Boards                             3.802758e+05

In [19]:
ndf.groupby('Sector').agg({'Electricity Use - Grid Purchase (kWh)': 'median'})

                 Electricity Use - Grid Purchase (kWh)
Sector
Municipal                                      44183.0
Postsecondary                                 493654.5
Public Hospital                              1995542.0
School Boards                                 268895.5

In [29]:
# filling the null values in 'Electricity Use - Grid Purchase (kWh)' column with median values of their resp sectors
def electric_fillna(row):
    if pd.isnull(row['Electricity Use - Grid Purchase (kWh)']):
        if row['Sector']=='Municipal':
            row['Electricity Use - Grid Purchase (kWh)'] = 44183.0
        elif row['Sector']=='Postsecondary':
            row['Electricity Use - Grid Purchase (kWh)']=493654.5
        elif row['Sector']=='Public Hospital':
            row['Electricity Use - Grid Purchase (kWh)']=1995542
        elif row['Sector']=='School Boards':
            row['Electricity Use - Grid Purchase (kWh)']=268895.5
    return row

In [32]:
ndf1 = ndf.apply(electric_fillna, axis=1)

In [39]:
ndf1.groupby('Sector').agg({'Natural Gas Use (GJ)': 'median'})

                 Natural Gas Use (GJ)
Sector
Municipal                      465.55
Postsecondary                 1824.50
Public Hospital               8654.50
School Boards                 1931.40

In [40]:
# filling the null values in 'Natural Gas Use (GJ)' column with median values of their resp sectors
def natgas_fill(row):
    if pd.isnull(row['Natural Gas Use (GJ)']):
        if row['Sector']=='Municipal':
            row['Natural Gas Use (GJ)']=465.55
        elif row['Sector']=='Postsecondary':
            row['Natural Gas Use (GJ)']=1824.50
        elif row['Sector']=='Public Hospital':
            row['Natural Gas Use (GJ)']=8654.50
        elif row['Sector']=='School Boards':
            row['Natural Gas Use (GJ)']=1931.40
    return row

In [41]:
ndf2 = ndf1.apply(natgas_fill, axis=1)

In [43]:
ndf2.groupby('Sector').agg({'Site Energy Use (GJ)': 'median'})

                 Site Energy Use (GJ)
Sector
Municipal                       340.3
Postsecondary                  3560.2
Public Hospital               18119.1
School Boards                  2846.1

In [44]:
# filling the null values in 'Site Energy Use (GJ)' column with median values of their resp sectors
def se_fillna(row):
    if pd.isnull(row['Site Energy Use (GJ)']):
        if row['Sector']=='Municipal':
            row['Site Energy Use (GJ)'] =340.3
        elif row['Sector']=='Postsecondary':
            row['Site Energy Use (GJ)']=3560.2
        elif row['Sector']=='Public Hospital':
            row['Site Energy Use (GJ)']=18119.1
        elif row['Sector']=='School Boards':
            row['Site Energy Use (GJ)']=2846.1
    return row

In [45]:
ndf3 = ndf2.apply(se_fillna, axis=1)

In [46]:
ndf3.groupby('Sector').agg({'Total (Location-Based) GHG Emissions (Metric Tons CO2e)': 'median'})

                 Total (Location-Based) GHG Emissions (Metric Tons CO2e)
Sector
Municipal                                                     9.00
Postsecondary                                               100.20
Public Hospital                                             567.45
School Boards                                               101.90

In [48]:
# filling the null values in 'Total (Location-Based) GHG Emissions (Metric Tons CO2e)' column with median values of their resp sectors
def ghg_fillna(row):
    if pd.isnull(row['Total (Location-Based) GHG Emissions (Metric Tons CO2e)']):
        if row['Sector']=='Municipal':
            row['Total (Location-Based) GHG Emissions (Metric Tons CO2e)']=9.00
        elif row['Sector']=='Postsecondary':
            row['Total (Location-Based) GHG Emissions (Metric Tons CO2e)']=100.20
        elif row['Sector']=='Public Hospital':
            row['Total (Location-Based) GHG Emissions (Metric Tons CO2e)']=567.45
        elif row['Sector']=='School Boards':
            row['Total (Location-Based) GHG Emissions (Metric Tons CO2e)']=101.90
    return row

In [49]:
fin = ndf3.apply(ghg_fillna, axis=1)

In [50]:
fin.isnull().sum()

Sector                                                     0
Subsector                                                  0
Organization                                               0
Property Name                                              0
Primary Property Type - Self Selected                      0
Address                                                    2
City                                                       0
Postal Code                                                5
Electricity Use - Grid Purchase (kWh)                      0
Natural Gas Use (GJ)                                       0
Site Energy Use (GJ)                                       0
Total (Location-Based) GHG Emissions (Metric Tons CO2e)    0
Report Submission Date                                     0
dtype: int64

In [51]:
final = fin.dropna()

In [ ]:
final.to_excel('D:/Capstone_Projects/Energy consumption Analysis/2021.xlsx', index_label=False, sheet_name='2021')